{% extends 'public.html' %}
{% load markdown_extras %}

{% block main %}
<h1 class="pt-3">{{object.titulo}}</h1>
<small class="card-subtitle mb-2 text-muted">{{publicacion.fecha_publicacion}}</small>
<div class="card">
    <div class="card-body">
        {{object.contenido|markdown|safe}}
    </div>
</div>
<p>Autor: {{object.autor.get_full_name}}</p>
{% if object.tags.all %}
<p>Etiquetas: {% for tag in object.tags.all %}{% if not forloop.first %}, {% endif %}<a href="/?parametros={{tag.etiqueta}}">{{tag.etiqueta}}</a>{% endfor %}</p>
{% endif %}
{% endblock main %}